<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   {{ title }}
  </h1>
</div>


<ul>
  <li>Address: <strong>{{address}}</strong></li>
  <li>Eleven Token Balance: <strong>{{balance}}</strong></li>
</ul>

<form>
  
</form>


